/*بخش دربرگیرنده کل محتوای کامپوننت */
.accordion-cart {
    width: 950px;
    height: auto;
}

/* هر بحش که حاوی عنوان و محتوای آکاردیون است */
.accordion {
    width: 100%;
    height: auto;
}

.icon {
    width: 15px;
}

/* قسمت هدر هر آکاردیون */
.header-accordion {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    cursor: pointer;
    position: relative;
}

.header-accordion:hover {
    background-color: #c7c7c7;
}

.open-accordion {
    background-color: #808080;
    transition: background-color 1s ease-in-out;
}

.title {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    right: 20px;
}

.icon {
    position: absolute;
    left: 20px;
}

/* قسمت محتوای هر آکاردیون */
.content-accordion {
    padding: 20px;
    text-align: right;
    height: 100px;
    border-top: 1px solid lightgray;
    transition: all .5s ease-in-out;
    overflow: auto;
}

.hidden-accordion {
    height: 0;
    padding: 0;
    opacity: 0;
}

/* نمایش کامپوننت در سایز های مختلف */
@media (max-width: 992px) {
    .accordion-cart {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .accordion-cart {
        width: 500px;
    }
}

@media (max-width: 520px) {
    .accordion-cart {
        width: 350px;
    }
}